* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Extra Condensed', sans-serif;
}

.left {
    width: 20%;
    height: 100%;
    position: absolute;
    background-color:rgb(99, 0, 0);
}

.left-pos{
    position: absolute;
    left: 7.5%;
    top: 50%;
    transform: translateY(-50%);
}

.img {
    text-align: center;
}

.img img {
    width: 235px;
    height: 235px;
    border: 8px solid rgb(149, 0, 0);
    border-radius: 50%;
}

.links {
    margin: 20px 0;
    text-align: center;
}

.links a{
    color: rgba(255, 12, 12, 0.874);
    opacity: 0.8;
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
}


.right {
    position: absolute;
    left: 20%;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(255, 164, 164, 0.927);
    padding: 0 3%;
}

.second{
    color: rgba(255, 12, 12, 0.874);
    opacity: 0.8 ;
    text-decoration:none
}

section.infos {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

section.infos h1{
    color: #343434;
    font-size: 46px;
}

section.infos h1 > span {
    color: rgba(255, 12, 12, 0.874);
    opacity: 0.8;
}

section.infos h4 {
    color: black;
    margin: 15px 0;
}

section.infos p {
    color: black;
    font-size: 20px;
    margin-top: 25px;
}

.icons {
    margin-top: 20px;
}

.icons a {
    text-decoration: none;
    color: black;
    background-color: gray;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.icons i {
    line-height: 40px;
}

.conhecimentos {
    color: #343434;
    font-size: 24px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.objetivos {
    color: #343434;
    font-size: 24px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);   
}

.objetivos h1 {
    color: rgba(255, 12, 12, 0.874);
    opacity: 0.8;
}